<%- include('header'); %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><%= datetime %></h1>
      <p>This is an index page for the oAuth 2.0 provider.</p>
    </div>
  </div>
</div>
<%- include('footer'); %>
