<%- include('header'); -%>
<div class="container-fluid">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">You've successfully been logged out.</h1>
    </div>
  </div>
</div>
<%- include('footer'); -%>
